@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Estiliza o corpo da página */
body {
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    color: white;
    position: relative;
    gap: 20px;
}

/* Estiliza o canvas */
canvas {
    border: 20px solid #333;
    border-radius: 3vh;
    background-color: #111;
    width: 80%;
    max-width: 600px;
    height: auto;
    position: relative;
    margin-left: 9%;
}

/* Estiliza a seção de pontuação */
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    margin: 10vh ;
}

/* Estiliza o valor da pontuação */
.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

/* Estiliza a tela de menu */
.menu-screen {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    margin-left: 40%;
}

/* Estiliza o título do menu */
.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

/* Estiliza a pontuação final */
.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

/* Estiliza o botão de jogar */
.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

/* Estiliza a seção de tutorial */
.tutorial {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin-top: 5vh;
}

/* Estiliza o título e parágrafos do tutorial */
.tutorial h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Estiliza a lista do tutorial */
.tutorial p, .tutorial ul {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Estiliza os itens da lista do tutorial */
.tutorial ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Media queries para responsividade */
@media (max-width: 1024px) {
    .tutorial {
        position: static;
        margin-top: 20px;
        max-width: 90%;
    }

    canvas {
        max-width: 90%;
    }

    .score {
        font-size: 1.5rem;
    }

    .score--value {
        font-size: 3.5rem;
    }

    .game-over {
        font-size: 2.5rem;
    }

    .final-score {
        font-size: 1.2rem;
    }

    .btn-play {
        font-size: 0.9rem;
    }
}